// HELPER MIXINS
// ------------------------------------------------

@mixin include-links() {
  &,
  &:link,
  &:visited,
  &:active {
    @content;
  }
}

@mixin btn--transparent() {
  @include include-links {
    background-color: transparent;
    color: $black;

    svg {
      fill: $black;
    }

    &:hover {
      color: lighten($black, 10%);

      svg {
        fill: lighten($black, 10%);
      }
    }
  }
}

@mixin btn--blue-green() {
  background-color: $blue-green;
  color: $white;

  svg {
    fill: $white;
  }

  &:hover {
    color: $white;
    background-color: darken($blue-green, 10%);

    svg {
      fill: $white;
    }
  }
}

@mixin btn--gray() {
  background-color: $gray;
  color: $white;

  svg {
    fill: $white;
  }

  &:hover {
    color: $white;
    background-color: darken($gray, 10%);

    svg {
      fill: $white;
    }
  }
}

// @mixin btn--transparent-light() {
//   @include include-links {
//     background-color: transparent;
//     color: $white;

//     svg {
//       fill: $white;
//     }

//     &:hover {
//       color: $azure;

//       svg {
//         fill: $azure;
//       }
//     }
//   }
// }

// @mixin btn--azure() {
//   background-color: $azure;
//   color: $white;

//   &:hover {
//     color: $white;
//     background-color: $cerulean;
//   }

//   // DISABLED
//   &[disabled] {
//     background-color: rgba(0, 0, 0, 0.12);
//     color: transparentize($black, 1-.26);
//   }
// }



// CLASS IMPLEMENTATIONS
// ------------------------------------------------


button,
.btn {
  -webkit-appearance: none;
  display: inline-flex;
  height: 58px;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2.1px;
  white-space: nowrap;
  border-radius: 4px;
  @include font(avenir-heavy);
  @include btn--transparent;

  svg {
    max-width: 100%;
    max-height: 100%;
    transition: all .3s;
  }
}
