.content-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__headings {

    &__item {
      @include font(avenir-medium);
      color: $gray;
      text-decoration: none;
      position: relative;
      transition: all .3s;

      &:hover {
        color: $gray2;
      }

      &.active {
        color: $black;
      }

      &:not(:first-child) {
        position: relative;
        margin-left: 24px;

        &::before {
          content: '|';
          display: inline-block;
          position: relative;
          left: -12px;
          pointer-events: none;
          color: $gray;
        }
      }
    }
  }


  &__actions {


    &__button,
    &__button[type=submit] {
      @include font(avenir-heavy);
      font-size: 14px;
      width: 139px;
      height: 41px;
      text-transform: none;
      letter-spacing: normal;
      text-decoration: none;
      display: inline-flex;
      @include btn--gray;

      &.active {
        @include btn--blue-green;
      }

      &:not(:first-child) {
        margin-left: 1px;
      }

    }
  }
}