.main-header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: $white;


  &__top {
    max-width: $bp-xl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid $pale-gray;
    padding-left: percentage(24px/$bp-xl);
    padding-right: percentage(52px/$bp-xl);
  }


  .brand {
    display: flex;
    align-items: center;
    height: 35px;
    text-decoration: none;
    padding-right: 114px;
    border-right: 1px solid $gray4;

    &__title {
      @include font(avenir-medium);
      font-size: 18px;
      color: $black;
    }

    &__version {
      font-size: 10px;
      opacity: .9;
      margin-left: 5px;
    }

  }


  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid $pale-gray;
  }
}