.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  border: 0;
  background-color: transparent;
  transition: opacity .3s;

  &:not([open]) {
    display: none;
  }

  &:not(.visible) {
    opacity: 0;
  }


  &__underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: transparentize($black, 1-.58);
  }


  &__box {
    background-color: $white;
    border-radius: 4px;
    z-index: 1002;
    position: relative;
    padding: 50px;
  }


  &__close {
    position: absolute;
    top: 16px;
    right: 12px;
    width: 18px;
    height: 18px;

    svg {
      fill: $dark-gray2;
    }

  }


  &__content {

  }


  &__heading {
    @include font(avenir-medium);
    font-size: 22px;
    text-align: center;
    color: $dark-gray2;

    em {
      font-style: normal;
      color: $blue-green;
    }
  }


  &__text {
    margin-top: 20px;
    @include font(avenir-medium);
    font-size: 16px;
    text-align: center;
    color: $dark-gray2;
  }


  &__input {
    -webkit-appearance: none;
    min-width: 44px;
    height: 41px;
    display: inline-block;
    padding: 7px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    color: $blue-green;
    background-color: rgba(232, 230, 230, 0.29);
    border: solid 1px $gray2;
    margin: 0 14px;
  }


  &__graphic {
    display: block;
    width: 54px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }


  &__image {
    display: block;
    width: 150px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }


  &__form {
    margin-top: 20px;
  }


  &__actions {
    margin-top: 41px;
    display: flex;
    justify-content: center;

    .btn {
      min-width: 139px;
      padding: 0 20px;
      text-transform: none;
      letter-spacing: normal;
      font-size: 14px;
      @include font(avenir-heavy);

      &:not(:first-child) {
        margin-left: 21px;
      }
    }
  }


  &__dismiss {
    @include btn--gray;
  }


  &__proceed {
    @include btn--blue-green;
  }
}