.nav {
  display: block;
  width: 100%;
  height: 100%;
  max-width: $bp-xl;
  margin-left: auto;
  margin-right: auto;
  padding-left: percentage(242px/$bp-xl);
  padding-right: percentage(229px/$bp-xl);

  &__content {
    display: flex;
    justify-content: space-between;
    align-item: center;
    width: 100%;
    height: 100%;
  }


  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 0;
    list-style-type: none;
  }


  &__link {
    display: flex;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      .nav__graphic__icon {
        background-color: darken($steel, 20%);
      }
      .nav__text {
        color: darken($steel, 20%);
      }
    }
  }


  &__graphic {
    margin-right: 12px;
    position: relative;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 22px;
      height: 22px;
      background-color: $steel;
      border-radius: 50%;
      overflow: hidden;
      transition: all .3s;
    }

    svg {
      width: 100%;
      height: 100%;
      width: 12px;
      height: 12px;
      fill: $white;
    }

  }


  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 24px;
    height: 17px;
    background-color: $red;
    border-radius: 8px;
    text-align: center;
    color: $white;
    font-size: 12px;
    transform: translate(50%, -50%);
    @include font(avenir-heavy);
  }


  &__text {
    color: $steel;
    transition: all .3s;
    @include font(avenir-heavy);
  }
}