.print-invoice {
	padding: 0;
	font-size: 8px;
	line-height: 13px;

	svg {
		width: 10px;
		height: 10px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}

	&__header {
		background-color: #fbfbfb;
		padding: 25px 45px;

		&-top {
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			text-align: right;
		}

		&-bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 32px;
			background-color: #fbfbfb;
		}
	}

	&__address {
		width: 100%;
	}

	&__contact {
		width: 100%;
		margin-top: 20px;
	}

	&__recipient {
		h3 {
			text-transform: uppercase;
		}

		p {
			margin-top: 14px;
		}
	}

	&__info {
		text-align: right;

		h1 {
			font-size: 22px;
		}

		h3 {
			margin-top: 13px;
		}
	}

	&__body {
		padding: 25px 45px;
	}

	&__table {
		width: 100%;
		border-collapse: collapse;

		thead {

			tr {

			}

			td {
				padding: 10px 0;
				font-weight: 600;
				text-transform: uppercase;

				&:last-child {
					text-align: right;
				}
			}
		}

		tbody {

			tr {

			}

			td {
				padding: 8px 0;

				&:last-child {
					text-align: right;
				}
			}
		}
	}

	&__order-row {

		td {
			border-bottom: solid 1px #e7e8ec;
		}
	}

	&__total-row {

		&__descriptor {
			text-transform: uppercase;
			font-weight: 600;
		}

		&__amount {
			color: $azure;
			font-size: 12px;
			font-weight: 600;
		}
	}

	&__notes {
		margin-top: 30px;

		h3 {
			text-transform: uppercase;
			font-weight: 600;
		}

		p {
			margin-top: 17px;
		}
	}
}