.print-order {

	&___header {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}


	&__number {
		text-align: right;

		&__prefix {
			display: block;
			font-size: 15px;
		}

		&__digits {
			display: block;
			font-size: 25px;
		}
	}


	&__details {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
		margin-top: 36px;

		&__left {

			&__item {
				&:not(:first-child) {
					margin-top: 6px;
				}

				h3 {
					font-size: 14px;
					text-transform: uppercase;

					&:not(:first-child) {
						margin-top: 15px;
					}
				}

				p {
					font-size: 1rem;
					-webkit-margin-before: 0;
				    -webkit-margin-after: 0;
				}
			}
		}

		&__right {
			text-align: right;
			font-size: 8px;

			h3 {
				text-transform: uppercase;
				line-height: 1.5;
			}

			p {
				margin-top: 3px;
				-webkit-margin-before: 0;
			    -webkit-margin-after: 0;
			    line-height: 1.5;
			}
		}
	}


	&__date {

		&--completion {
			margin-top: 15px;
		}
	}


	&__images {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-top: 42px;

		img {
			width: percentage(237/522);

			&:nth-child(n + 3) {
				margin-top: 28px;
			}
		}
	}


	&__steps {
		margin-top: 57px;

		h3 {
			text-transform: uppercase;
			font-size: 8px;
		}

		li {
			margin-top: 16px;
			font-size: 8px;
			line-height: 1.5;
			margin-left: 8px;
		}
	}


	&__color-blot {
		display: inline-block;
		margin-right: 5px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}
}