@keyframes loading_spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.styles-grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin-top: 39px;


  &__loading {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-top: 50px;

	  svg {
	    width: 24px;
	    height: 24px;
	    margin-right: 10px;
	    // animation-name: loading_spinner;
	    // animation-duration: 1s;
	    // animation-iteration-count: infinite
	    animation: loading_spinner 1s steps(8) infinite forwards;
	  }
	}
}