.style-card {
  width: percentage(261/1140);
  position: relative;
  margin-top: 32px;
  padding-top: 41px;
  padding-left: 27px;
  padding-right: 29px;
  padding-bottom: 13px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;

  &:not(:nth-of-type(4n + 1)) {
    margin-left: percentage(32/1140);
  }

  &__actions {
    // width: 32px;
    // height: 32px;
    // background-image: url(/images/gearbox.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    // margin-right: 14px;
    // position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: .5px;

    &__popup {
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: 4px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
      padding: 15px;
      background-color: $white;
      z-index: 200;
      min-width: 224px;
      overflow: hidden;

      &:not(.visible) {
        display: none;
      }
    }
  }

  &__action {
    display: block;
    text-transform: none;
    color: $dark-gray;
    transition: all .3s;
    text-align: left;
    padding: 15px 0;
    font-size: 14px;
    @include font(avenir-medium);

    &:hover {
      color: $aqua-marine;

      span {
        transform: translateX(20px);
      }
    }

    &:not(:first-child) {
      border-top: 1px solid transparentize(#979797, 1-.16);
    }

    span {
      display: block;
      transition: transform .3s;
    }
  }

  // &__print {
  //   width: 33px;
  //   height: 33px;
  //   background-image: url(/images/printer.png);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  .customers-list__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }


  @keyframes loading_spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .customers-list__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      // animation-name: loading_spinner;
      // animation-duration: 1s;
      // animation-iteration-count: infinite
      animation: loading_spinner 1s steps(8) infinite forwards;
    }
  }


  &__images-container {
    @include aspect-ratio(206, 206);
    width: 100%;
    margin-bottom: 34px;
  }


  &__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
  }


  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & + & {
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__info {
    margin-top: 26px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }


  &__number {
    color: #43484d;
    opacity: .56;
    font-size: 18px;
    line-height: 25px;
    @include font(roboto);
  }


  &__name {
    color: #43484d;
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include font(roboto);
  }


  &__price {
    color: #43484D;
    font-size: 24px;
    line-height: 25px;
    margin-top: 7px;
    @include font(roboto-bold);
  }


  // IMAGES CAROUSEL STATES
  &__images.flickity-enabled {

    .flickity-viewport {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    .flickity-slider {
      height: 100%;
    }

    .flickity-page-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: -22px;

      .dot {
        list-style: none;
        width: 11px;
        height: 11px;
        transition: all .3s;
        background-color: #eaeaea;
        border-radius: 50%;

        &.is-selected {
          transform: scale((15/11));
          background-color: #bcbcbc;
        }

        &:not(:first-child) {
          margin-left: 9px;
        }
      }
    }

    & .style-card__image + .style-card__image {
      opacity: 1
    }
  }
}