.table {
  width: 100%;
  margin-top: 27px;
  border-collapse: collapse;

  thead {

    tr {

    }

    td {
      @include font(avenir-heavy);
      color: $gray2;
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 19px;
      padding-right: 19px;
    }

  }

  tbody {
    background-color: $white;

    tr {
      &:not(:first-child) td {
        border-top: 2px solid $gray3;
      }
    }

    td {
      align-items: center;
      font-size: 14px;
      color: $dark-gray;
      cell-padding: 0;
      @include font(avenir-medium);

      .table__cell-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 48px;
        padding-left: 19px;
        padding-right: 19px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

  }

}