.user-block {
  display: flex;
  align-items: flex-start;
  position: relative;

  &:hover .user-block__logout {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }


  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    margin-right: 8px;
    padding-top: 2px;
  }


  &__username {
    @include font(avenir-heavy);
    font-size: 14px;
    color: $black;
    line-height: 19px;
  }


  &__role {
    @include font(avenir-roman);
    font-size: 12px;
    line-height: 16px;
    color: $gray;
  }


  &__photo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__logout {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    white-space: nowrap;
    text-align: center;
    color: $dark-gray;
    padding: 10px 15px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 1px 1px 3px transparentize($black, .93);
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    transform-origin: top right;
  }
}