.form-fields {

  .dynamic-list {

    &.input-block {
      width: 100%;
      display: block;
    }


    &__button.btn {
      width: auto;
      display: inline-flex;
      min-width: 139px;
    }


    &__items {
      width: 100%;
    }


    &__item {
      margin-bottom: 6px;

      &.custom-field {
        display: flex;
        min-height: 57px;
        height: auto;
        align-items: center;
      }

      &__count {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background-color: #d8d8d8;
        border-radius: 100%;
        overflow: hidden;
      }

      &__details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 24px;
        flex-grow: 1;
      }

      &__text {
        font-size: 20px;
        @include font(avenir-medium);
      }

      &__subtext {
        @include font(avenir-medium);
        font-size: 16px;
        height: 16px;
        line-height: 16px;
        color: #cecece;
        border-left: 1px solid currentColor;
        padding-left: 5px;
        margin-left: 5px;
      }

      &__form.input-block {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        padding: 15px;
        flex-wrap: wrap;

        input {
          width: 100%;
          margin-bottom: 5px;
        }

        button {
          display: inline-flex;
          width: auto;
          margin-right: 5px;
        }
      }

      &__input {
        display: block;
        width: 100%;
      }

      &__actions {
        margin-right: 0;
        margin-left: auto;
        flex-shrink: 0;
        background-color: transparent;
        position: relative;

        .btn {
          padding: 0;
          font-size: 10px;
          width: 18px;
          height: 18px;
          box-shadow: none;
          margin-right: 0;
        }

        &.expanded .dynamic-list__item__action-list {
          opacity: 1;
          transform: scale(1);
        }
      }

      &__action-list {
        position: absolute;
        right: calc(100% + 5px);
        bottom: -20px;
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background-color: $white;
        transition: all .15s;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;

        span {
          cursor: pointer;
          transition: all .3s;
          display: block;
          padding: 10px 15px;

          &:hover {
            background-color: $blue-green;
          }
        }
      }
    }

    // DRAGGABLE
    .draggable {
      width: 100%;
    }

    .placeholder {
      opacity: 0.3;
    }
  }

}