// This makes input blocks to be of different appearance
// Similar to the Color, Style, Customer, and Order styles

.form-fields {
  margin-top: 85px;

  .input-block {
    display: inline-flex;
    align-items: center;
    margin-bottom: 76px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    input,
    select,
    button,
    .custom-field {
      background-color: red;
      height: 57px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
      border: none;
      padding: 0 20px;
      background-color: $white;
      font-size: 16px;
      color: $dark-gray2;
      letter-spacing: normal;
      text-transform: none;
      @include font(avenir-medium);
    }

    option {
      padding: 0 20px;
    }

    label {
      @include font(avenir-medium);
      font-size: 16px;
      padding-left: 0;
      left: 0;
      color: $dark-gray2;
    }
  }

  br + .input-block {
    margin-left: 0;
  }

  // REMOVE SPINNER FROM NUMBER INPUT
  input[type=number] {
    -moz-appearance:textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // SELECT
  svg.select-caret {
    position: absolute;
    fill: $dark-gray;
    left: auto;
    right: 13px;
    width: 16px;
    height: 16px;
  }

  // CHECKBOX
  .input-block input[type=checkbox] {
    width: 34px;
    height: 34px;
    padding: 0;

    & ~ label {
      display: inline-block;
      width: auto;
      transform: none;
      position: static;
      margin-left: 19px;
    }
  }

  // ACTIVE STATE
  .input-block.active label,
  input:focus ~ label {
    transform: translate(0, -45px);
    pointer-events: auto;
  }

  // ERROR STATE
  .input-block.error {

    label {
      color: $coral;
    }

    & input,
    & select {
      box-shadow: 1px 2px 3px $coral;
    }
  }

}