.image-upload {
  @include aspect-ratio(296, 349);
  display: block;
  width: 100%;
  border-radius: 6px;
  background-color: $white;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: dashed 1px rgba(151, 151, 151, 0.45);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  &__empty {
    display: block;
    text-align: center;
    cursor: pointer;
  }


  &__empty-graphic {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: 51px;
  }


  &__empty-text {
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    line-height: 26px;
    color: #cecece;
    @include font(avenir-medium);
  }


  &-field {
    display: none;
  }


  &__carousel-wrapper {
    @include aspect-ratio(280, 230);
    width: 100%;
    margin-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }


  &__carousel {
    position: absolute;
    top: 0;
    left: 8px;
    width: calc(100% - 16px);
    height: 100%;

    &-item {
      @include aspect-ratio(280, 230);
      width: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:not(.flickity-enabled) {
      overflow: hidden;
    }

    .flickity-viewport {
      overflow: hidden;
    }

    .flickity-slider {
      height: 100%;
    }

    .flickity-page-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: calc(100% + 17px);

      .dot {
        list-style: none;
        width: 11px;
        height: 11px;
        transition: all .3s;
        background-color: #eaeaea;
        border-radius: 50%;

        &.is-selected {
          transform: scale((15/11));
          background-color: #bcbcbc;
        }

        &:not(:first-child) {
          margin-left: 9px;
        }
      }
    }
  }


  &__actions {
    margin-top: auto;
    display: flex;

    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 39px;
      width: 50%;
      text-align: center;
      text-transform: none;
      letter-spacing: normal;
      border-radius: 0;

      &:first-child {
        border-right: solid 1px transparentize(#979797, 1-.17);
        color: #cecece;
      }

      &:last-child {
        color: $red2;
      }

      svg {
        width: 11px;
        height: 11px;
        margin-right: 5px;
        fill: $red2;
      }
    }
  }


  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    background-color: red;
    height: 57px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0 20px;
    background-color: $white;
    font-size: 16px;
    color: #cecece;
    letter-spacing: normal;
    text-transform: none;
    @include font(avenir-medium);
  }

  @keyframes loading_spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  &__uploading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    svg {
      width: 30px;
      height: 30px;
      animation: loading_spinner 1s steps(8) infinite forwards;
    }
  }

}