.input-block {
  position: relative;

  input,
  select,
  button,
  .custom-field {
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    padding-left: 56px;
    border-radius: 4px;
    border: 1.2px solid $gray;
    transition: all .3s;
  }

  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 56px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    color: $gray2;
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    fill: $gray2;

    &.icon--user {
      padding: 4px;
    }
  }

  // Disabled state
  input:disabled,
  select:disabled {
    opacity: .5;
    cursor: not-allowed;

    & ~ label {
      opacity: .5;
      pointer-events: none;
    }
  }


  &.animated-label {
    // Animated label
    &.active label,
    input:not([type=checkbox]):not([type=radio]):focus ~ label {
      transform: translate(-40px, -40px);
      pointer-events: none;
    }

    // Error state
    &.error input,
    &.error select {
      border-color: $coral;
    }

  }

  // Checked state (checkbox and radio)
  input[type="checkbox"] {
    transition: all .3s;
    background-image: url(/images/check-white.svg);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;

    &:checked {
      background-color: $azure;
  }
  }

}
