[type=submit] {
  position: relative;
  display: flex;
  width: 100%;

  &:hover {
    svg {
      fill: $white;
    }
  }

  &[disabled] {
    background-color: $gray3;

    span {
      opacity: .44;
    }
  }

  svg {
    width: 58px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    transition: all .3s;
    opacity: 0;
    fill: $white;
  }

  .form--invalid & {
    background-color: $coral;

    span {
      opacity: 0;
    }

    svg.icon--times {
      opacity: 1;
    }
  }

  .form--valid & {
    background-color: $aqua-marine;

    span {
      opacity: 0;
    }

    svg.icon--check {
      opacity: 1;
    }
  }
}