.page-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	@keyframes loading_spinner {
	  from {
	    transform: rotate(0deg);
	  }
	  to {
	    transform: rotate(360deg);
	  }
	}

	&__icon {
		display: block;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		animation: loading_spinner 1s steps(8) infinite forwards;
	}
}