.orders-list {


}

.orders-table__color {
  position: relative;

  i {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 4px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.orders-table__status {

  &[data-status=new] {
    color: $azure;
  }

  &[data-status=production] {
    color: $orange;
  }

  &[data-status=hold],
  &[data-status=cancelled] {
    color: $red;
  }

  &[data-status=shipment] {
    color: $green;
  }

  &[data-status=done] {
    color: $green;
  }
}

.orders-table__actions {
  width: 32px;
  height: 32px;
  background-image: url(/images/gearbox.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
  position: relative;

  &__popup {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    padding: 15px;
    background-color: $white;
    z-index: 200;
    min-width: 224px;
    overflow: hidden;

    &:not(.visible) {
      display: none;
    }
  }
}

.orders-table__action.orders-table__action {
  display: block;
  text-transform: none;
  color: $dark-gray;
  transition: all .3s;
  text-align: left;
  padding: 15px 0;
  font-size: 14px;
  @include font(avenir-medium);

  &:hover {
    color: $aqua-marine;

    span {
      transform: translateX(20px);
    }
  }

  &:not(:first-child) {
    border-top: 1px solid transparentize(#979797, 1-.16);
  }

  span {
    display: block;
    transition: transform .3s;
  }
}

.orders-table__print {
  width: 33px;
  height: 33px;
  background-image: url(/images/printer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.orders-list__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


@keyframes loading_spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orders-list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    // animation-name: loading_spinner;
    // animation-duration: 1s;
    // animation-iteration-count: infinite
    animation: loading_spinner 1s steps(8) infinite forwards;
  }
}