// SETTINGS
@import "settings/reset";
@import "settings/breakpoints";
@import "settings/typography";
@import "settings/colors";

// MIXINS
@import "mixins/aspect-ratio";

// LAYOUTS
@import "layouts/center";
@import "layouts/default";


// COMPONENTS
// ------------------------------------------------

// GENERAL
@import "components/button";
@import "components/table";
@import "components/header";
@import "components/nav";
@import "components/user-block";
@import "components/content-heading";
@import "components/styles-grid";
@import "components/style-card";
@import "components/modal";
// FORMS
@import "components/forms/login";
@import "components/forms/color";
@import "components/forms/customer";
@import "components/forms/order";
@import "components/forms/style";
@import "components/forms/attribute";
@import "components/form-elements/input-block";
@import "components/form-elements/submit";
@import "components/form-elements/form-fields";
@import "components/form-elements/colorpicker";
@import "components/form-elements/dynamic-list";
@import "components/form-elements/image-upload";


// PAGES
// ------------------------------------------------

@import "pages/orders-list";
@import "pages/customers-list";
@import "pages/colors-list";
@import "pages/attributes-list";
@import "pages/loading";


// PRINT
// ------------------------------------------------

// Hide print page by default
.print-page {
	display: none;
}

@media print {

	#root {
		display: none;
	}

	// Show print page on print
	.print-page {
		display: block;
		width: 612px;
		margin-left: auto;
		margin-right: auto;
		padding: 25px 45px;
	}

	@import "components/print-order";
	@import "components/print-invoice";
}

