$black: #000;
$white: #fff;

$gray: #cecece;
$gray2: #9b9b9b;
$gray3: #f6f6f6;
$gray4: #e6e6e6;
$pale-gray: #e0e6ef;
$dark-gray: #757575;
$dark-gray2: #4a4a4a;
$steel: #8b8fa1;
$aqua-marine: #50e3c2;
$blue-green: #57ced1;
$azure: #2196f3;
$coral: #f45e43;
$red: #ff3657;
$red2: #d0021b;
$orange: #f5a623;
$green: #7ed321;
