* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;

  // Allow inline styles to work on print
  -webkit-print-color-adjust: exact;
}
