@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/Avenir Medium.otf');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/AvenirStd-Black.otf');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/AEH.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}


$fonts: (
  avenir-light: ('Avenir Light', sans-serif),
  avenir-book: ('Avenir Book', sans-serif),
  avenir-roman: ('Avenir Roman', sans-serif),
  avenir-medium: ('Avenir Medium', sans-serif),
  avenir-black: ('Avenir Black', sans-serif),
  avenir-heavy: ('Avenir Heavy', sans-serif),

  roboto: ('Roboto Regular', sans-serif),
  roboto-bold: ('Roboto Bold', sans-serif),
);


$base-font-size: 17px;


@mixin font( $name ) {
  @if ( map-has-key($fonts, $name) ) {
    font-family: map-get($fonts, $name);
  }
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
 }

@function rem($size) {
  @return #{(strip-units($size) / strip-units($base-font-size))}rem;
}

html,
body {
  @include font(avenir-roman);
  font-size: $base-font-size;
}