.layout-default {
  background-color: $gray3;
  padding-top: 120px;

  .content {
    max-width: $bp-xl;
    padding-top: 21px;
    padding-left: percentage(150px/$bp-xl);
    padding-right: percentage(150px/$bp-xl);
    padding-bottom: 50px;
  }
}