.color-form {


  .input-block {
    &:not(:first-child) {
      margin-left: 40px;
    }
  }


  .color-picker.color-picker {
    padding-left: 50px;
    cursor: pointer;
  }


  .color-picker__selector {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 373px;
    top: 100%;
    background-color: $white;
    padding: 19px 17px 31px;
    margin-top: 13px;
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;

    &:not(.visible) {
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }

    &::before {
      content: '';
      border-left: solid 15px transparent;
      border-right: solid 15px transparent;
      border-bottom: solid 18px $white;
      position: absolute;
      top: -13px;
      left: 18px;
    }

    button {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      flex: 0 0 54px;
      background-color: currentColor;
      margin-left: 16px;
      cursor: pointer;

      &:first-child,
      &:nth-child(6) {
        margin-left: 0;
      }

      &:nth-child(n+6) {
        margin-top: 16px;
      }
    }
  }
}