$form-width: 1140px;

// INPUT BLOCK WIDTHS
$widths: (
  name: 551px,
  account_number: 195px,
  address: 238px,
  city: 139px,
  state: 139px,
  country: 139px,
  contact: 238px,
  phone: 238px,
  email: 238px,
  terms_code: 238px,
  ship_code: 238px,
  shipping_number: 238px,
  credit_limit: 238px,
  notes: 512px,
);

.customer-form {

  .input-block {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  .form-fields {
    .customer-input-block {
      &__notes {
        input {
          padding-left: 45px;
        }
        svg {
          width: 18px;
          height: 18px;
          fill: $azure;
        }
      }
    }
  }

  // INPUT BLOCK WIDTHS
  $names: map-keys($widths);
  @each $name in $names {
    $width: map-get($widths, $name);
    .customer-input-block__#{$name} {
      width: percentage($width/$form-width);
    }
  }

}