.login-form {
  width: 409px;

  &__heading {
    @include font(avenir-medium);
    font-size: 27px;
    letter-spacing: .8px;
    text-transform: uppercase;
    text-align: center;
    color: $gray2;
  }

  &__fields {
    margin-top: 46px;

    .input-block:not(:first-child) {
      margin-top: 30px;
    }

    [type=submit] {
      margin-top: 20px;
      transition: all .3s;
    }
  }


  &__action {
    position: relative;
  }

  @keyframes loading_spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    transition: all .3s;
    opacity: 0;
    pointer-events: none;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      animation: loading_spinner 1s steps(8) infinite forwards;
    }
  }


  // BUSY FORM STATE
  &.login-form--busy {

    [type=submit] {
      pointer-events: none;
      opacity: 0;
    }

    .login-form__loading {
      opacity: 1;
    }


  }

  // ERROR
  &__error {
    display: block;
    padding: 5px;
    color: $red;
    text-align: center;
  }
}