$form-width: 1140px;

// Loading icon animation
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// INPUT BLOCK WIDTHS
$widths: (
  name: 551px,
  order_number: 195px,
  account_number: 195px,
  address: 238px,
  city: 139px,
  state: 139px,
  country: 139px,
  phone: 238px,
  email: 238px,
  order_date: 238px,
  cancel_date: 238px,
  completion_date: 238px,
  customer_po_number: 238px,
  ship_code: 238px,
  terms: 139px,
  status: 195px,
);

.order-form {

  .input-block {

    // SEARCH INPUT AND POPUP
    .order-form__search {
      position: relative;


      &__popup {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $white;
        z-index: 400;
        padding-top: 12px;
        padding-top: 15px;
        margin-top: 1px;
      }


      &__result {
        max-height: 5em;
        overflow: auto;
        border-bottom: 1px solid $gray;
      }


      &__item {
        color: dark-gray2;
        font-size: 14px;
        padding: 5px 0;
        cursor: pointer;
        padding-left: 45px;
      }


      &__cta {
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        margin-left: 45px;
      }


      &__loading {
        position: absolute;
        top: 17px !important;
        left: auto !important;
        right: 10px;
        pointer-events: none;
        transition: opacity .3s;
        opacity: 0;
        transform: none;
        will-change: transform;
      }

    }
  }

}

.input-block.order-input-block {
  &__name {
    input {
      padding-left: 45px !important;
    }
  }

  &__status {
    select {
      padding-left: 45px !important;
    }

    svg {
      width: 12px;
      height: 13px;
      fill: $azure;
    }
  }
}

// INPUT BLOCK WIDTHS
$names: map-keys($widths);
@each $name in $names {
  $width: map-get($widths, $name);
  .order-input-block__#{$name} {
    width: percentage($width/$form-width);
  }
}

// BUSY SEARCH STATE
.order-input-block__name.busy {

  .order-form__search__loading {
    opacity: 1;
    animation: loader .8s forwards steps(8) infinite;
  }
}

// SEARCH RESULTS STATE
.order-input-block__name.results {

  .order-form__search__popup {
    display: block;
  }
}