.style-form {


  .form-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }


  &__images {
    width: percentage(296/1140);
  }


  &__general {
    width: percentage(777/1140);
    margin-right: 0;
    margin-left: auto;
  }


  &__name {
    width: percentage(551/777);
  }


  &__price {
    width: percentage(195/777);
  }


  &__number {
    width: percentage(139/777);
  }


  &__category {
    width: percentage(206/777);
  }


  &__weight {
    width: percentage(139/777);
  }


  &__attribute {
    width: percentage(195/777);
  }


  &__steps.input-block.input-block {
    width: 100%;
    margin-bottom: 28px;
  }


}